html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Annie Use Your Telescope', cursive;
  color: black;
  background-color: #aacd74;
  height: 100%;
  overflow-y: auto;
  
}

html *::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

* {
  font-family: 'Annie Use Your Telescope', cursive;
}


testing {
  color: #f2d4ff;
  background-color: #aacd74;
}
